@*@model IEnumerable<_03View.Models.NightMarket>*@
@using PagedList
@using PagedList.Mvc

@model IPagedList<_03View.Models.NightMarket>


@{
    ViewBag.Title = "南部各大夜市";
}

<h2 class="alert-info">南部各大夜市</h2>

<p>
    @Html.ActionLink("新增資料", "Create")
</p>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

<table class="table table-striped ">
    <tr>
        <th>
            編號
        </th>
        <th>
            夜市名稱
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            夜市地址
            @*@Html.DisplayNameFor(model => model.Address)*@
        </th>
        <th>照片</th>
        <th>地圖</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
                @*@Html.DisplayFor(modelItem => item.Name)*@
            </td>
            <td>
                @item.Address
                @*@Html.DisplayFor(modelItem => item.Address)*@
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>*@
            <td>
                <img src="~/images/@(item.Id).jpg" width="200" />
            </td>
            <td>
                <a href=" https://www.google.com/maps/place/@item.Address" target="_blank" class="btn btn-warning">查看地圖</a>
            </td>
        </tr>
    }

</table>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

