@*@model IEnumerable<_06ViewModel.Models.員工>*@

@model _06ViewModel.VIewModels.EmpTitle

@{
    ViewBag.Title = "Index";
}

<h2></h2>


<div class="row">
    <div class="col-xs-4">
        @foreach (var item in Model.JobTitle)
        {
            <p>@Html.ActionLink(item.職稱1, "Index", new { jobTitle = item.職稱代碼 })</p>

        }
    </div>
    <div class="col-xs-8">
        <div class="row">
            <h3 class="alert alert-success" >@ViewBag.jobTitle</h3>
            <p>
                @Html.ActionLink("新增", "Create", new { jobTitle = ViewBag.jobTitleID },new { @class="btn btn-primary"})
            </p>
            @foreach (var item in Model.Employee)
            {

                <div class="col-xs-4 thumbnail">

                    <h2 class="text-center">@Html.DisplayFor(modelItem => item.姓名)</h2>

                    <h2 class="text-center">@Html.DisplayFor(modelItem => item.名)</h2>

                    <h2 class="text-center">@Html.DisplayFor(modelItem => item.稱呼)</h2>

                    <p class="text-center">

                        @Html.ActionLink("詳細資料", "Details", new { id = item.員工編號,jobTitle =ViewBag.jobTitleID},new { @class="btn btn-info"}) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.員工編號,jobTitle =ViewBag.jobTitleID},new { @class="btn btn-danger",onclick="return confirm('是否確定要刪除')"})
                    </p>
                </div>
            }
        </div>

    </div>
</div>
