@model IEnumerable<ASPNET1.Models.訂貨主檔>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.訂單日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.要貨日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.送貨日期)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.運費)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.收貨人)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.送貨地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.送貨郵遞區號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶.公司名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.員工.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.貨運公司.貨運公司名稱)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.訂單日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.要貨日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.送貨日期)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.運費)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.收貨人)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.送貨地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.送貨郵遞區號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶.公司名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.員工.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.貨運公司.貨運公司名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.訂單號碼 }) |
            @Html.ActionLink("Details", "Details", new { id=item.訂單號碼 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.訂單號碼 })
        </td>
    </tr>
}

</table>
