@model ASPNET1.Models.訂貨明細

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>訂貨明細</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.單價)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.單價)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.數量)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.數量)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.折扣)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.折扣)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.訂貨主檔.客戶編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.訂貨主檔.客戶編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.產品資料.產品)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.產品資料.產品)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
